/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FULL PAGE LAYOUT */
html, body {
    height: 100%;
}

body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

a {
    color: #64a47e;
    text-decoration: none;
}

a:hover {
    color:#467356; 
    text-decoration:none; 
    cursor:pointer;  
}

p {
    margin: 0;
}

/* HEADER */
.header-container {
    display:center;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    border-bottom: 2px solid #e9ecef;
}

/* MAIN AREA */
.main-box {
    flex: 1 0 auto;
    display: flex;
    width: 100%;
    max-width: 1400px;       /* prevents content from stretching too wide */
    margin: 0 auto;          /* centers content */
    padding: 30px 40px;      /* more space on sides */
}

/* LEFT & RIGHT PANELS */
.left-box,
.right-box {
    flex: 1;
    padding: 30px;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    border-radius: 8px;
}

/* TEXT */
.welcome-text {
    font-size: 2rem;
    color: #64a47e;
    text-align: center;
    margin-bottom: 24px;
    font-weight: bold;
}

.info-icon {
    border: none;
    background: transparent;
    padding: 0;
    margin-left: 5px;
    font-size: 1rem;
    vertical-align: middle;
    cursor: pointer;
    color: #467356;
}

.tooltip-inner {
    white-space: pre-line;   /* preserves line breaks */
    max-width: 250px;        /* optional: limit width */
    text-align: left;        /* optional: nicer alignment */
}

.image-space{
    width: 31vw;
    height: 50vh;
    object-fit: cover;
}

/* IMAGE */
.uploaded-image {
    margin-top: 25px;
}

.btn-primary {
    background-color: #64a47e !important;
    border-color: #64a47e !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #467356 !important;   /* slightly darker green */
    border-color: #467356 !important;
    box-shadow: none !important;            /* removes blue glow */
}

.btn-primary:focus {
    outline: none !important;
}

/* RESULT */
.result-box {
    flex: 1;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Remove default padding for ol */
.custom-ol {
    padding-left: 30px; /* space for numbers */
    counter-reset: my-counter; /* reset numbering */
    list-style: none;  
}

/* Style numbers and li spacing */
.custom-ol li {
    counter-increment: my-counter;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 6px;                /* space between number and color box */
}

.custom-ol li::before {
    content: counter(my-counter) "."; /* show the number */
    font-weight: bold;
    width: 20px;     /* space for number */
    text-align: right;
    margin-right: 10px;
}

/* FOOTER */
footer {
    flex-shrink: 0;
    height: 3rem;
    border-top: 2px solid #e9ecef;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: auto; /* ensures footer sticks to bottom */
    border-top: 2px solid #e9ecef;
}

.footer-container{
    border-top: 2px solid #e9ecef;
}

.footer-text{
    color: rgb(58, 57, 57);
}