{% extends "base.html" %}

{% block content %}
<div class="container main-box">
    <div class="left-box">
        <form action="" method="post" enctype="multipart/form-data" class="upload-image-form">
            <div class="mb-3">
                <input class="form-control" type="file" id="image" name="image" accept="image/*" required>
            </div>
            <div class="row g-2 mb-3">
                <div class="col-md">
                    <label for="num_colors" class="form-label">Number of Colors:</label>
                    <input type="number" id="num_colors" name="num_colors" class="form-control" value="5" min="1" max="25" required>
                </div>
                <div class="col-md">
                    <label for="delta_colors" class="form-label">Color Difference (Delta 0-100):</label>
                    <input type="number" id="delta_colors" name="delta_colors" class="form-control" min="1" max="255" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Upload Image</button>
        </form>
        <div class="image-space">
            <div class="uploaded-image">
                {% if image_url %}
                    <img src="{{ image_url }}" alt="Uploaded Image" class="img-fluid">
                {% else %}
                    <p>An image will be displayed here.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="right-box">
        <h4>Result</h4>
        {% if colors %}
            <div class="result-box">
                <ul>
                    {% for color in top_colors %}
                    <li style="display: flex; align-items: center; gap: 15px;">
                        <!-- Color box -->
                        <span 
                        style="display: inline-block; width: 60px; height: 20px; border: 1px solid #fff;
                        background-color: rgb{{ color }};"></span>
                        <!-- Color text -->
                        {{ color }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="result-box">
                <p>Result will appear here after uploading an image.</p>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}